* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 2px black;
    color:white;

    background-image: url("../images/header_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-size: 100% 100%;*/
}

ul.readbook_nav{
    list-style: none;
    display: flex;
    background-color: darkslateblue;
    color: white;
}

ul.readbook_nav li {
    padding: 0.4rem;
}

ul.readbook_nav li:hover {
    background-color: deeppink;
}

section.content {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 0.7rem;
}