<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout}">


<section layout:fragment="content" class="buyer_detail">

    <div>
        <label>ID</label><span th:text="${BUYER.userid}"/>
        <label>이름</label><span th:text="${BUYER.name}"/>
    </div>
    <div>
        <label>전화번호</label><span th:text="${BUYER.tel}"/>
        <label>주소</label><span th:text="${BUYER.address}"/>
    </div>
    <div>
        <button>고객정보 수정</button>
        <button>고객정보 삭제</button>
    </div>
</section>
</html>
