<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">

<section layout:fragment="content" class="order_detail">
    <script th:inline="javascript">
        const seq = /*[[ ${SALES.seq} ]]*/ null
    </script>

    <div>
        <label>SEQ</label>
        <span th:text="${SALES.seq}"></span>
    </div>
    <div>
        <label>USER ID</label>
        <span th:text="${SALES.userid}"></span>
    </div>
    <div>
        <label>날짜</label>
        <span th:text="${SALES.date}"></span>
    </div>
    <div>
        <label>시간</label>
        <span th:text="${SALES.time}"></span>
    </div>
    <div>
        <label>상품명</label>
        <span th:text="${SALES.pname}"></span>
    </div>
    <div>
        <label>단가</label>
        <span th:text="${SALES.qty}"></span>
    </div>
    <div>
        <label>수량</label>
        <span th:text="${SALES.amt}"></span>
    </div>
    <div>
        <label>총 금액</label>
        <span th:text="${SALES.total}"></span>
    </div>

    <div class="div_button">
        <button class="btn_list">리스트로</button>
        <button class="btn_update">수정</button>
        <button class="btn_delete">삭제</button>
    </div>
</section>
</html>

