<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>READ BOOK</h1>
    <p>똑 소리나는 독서록 2021 v1</p>
</header>
<section>
    <div>
        <input placeholder="도서번호"/>
        <input placeholder="도서명"/>
    </div>
    <div>
        <input placeholder="대여일"/>
        <input placeholder="대여시각"/>
    </div>
    <div>
        <input placeholder="반납일"/>
        <input placeholder="반납시각"/>
    </div>
    <div><input placeholder="제목"/>
    <div><textarea placeholder="내용"/>
</section>
</body>
</html>
