<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">


<section layout:fragment="content" class="buyer_detail">

    <div>
        <label>ID</label><span th:text="${BUYER.userid}"/>
        <label>이름</label><span th:text="${BUYER.name}"/>
    </div>
    <div>
        <label>전화번호</label><span th:text="${BUYER.tel}"/>
        <label>주소</label><span th:text="${BUYER.address}"/>
    </div>
    <div>
        <button>고객정보 수정</button>
        <button>고객정보 삭제</button>
    </div>


<!--    <table>
        <tr>
            <th>ID</th>
            <td th:text="${USER.userid}"/>
            <th>전화번호</th>
            <td th:text="${USER.tel}"/>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${USER.name}"/>
            <th>주소</th>
            <td th:text="${USER.address}"/>
        </tr>
    </table>
    <div class="btn_box">
        <button class="btn_update">
            고객정보수정
        </button>
        <button class="btn_delete">
            고객정보삭제
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>상품명</th>
                <th>단가</th>
                <th>수량</th>
                <th>금액</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="SALE: ${SALES}" th:data-id="${SALE.s_id}">
            <td th:text="${SALEStat.count}"></td>
            <td th:text="${SALE.s_name}"></td>
            <td th:text="${SALE.s_price}"></td>
            <td th:text="${SALE.s_quantity}"></td>
            <td th:text="${SALE.s_total_price}"></td>
        </tr>
        </tbody>
    </table>-->

</section>
</html>
